<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quantum Simulator</title>
  <script src="https://kit.fontawesome.com/58e6bdb37e.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/circuit.css">
  <script>var slt_item = 0, tab='crt', slt_code = 0, r=1, open_nav=0;</script>
  <script src="/public/js/index.js"></script>
</head>
<body>
  <div style="display: inline-flex;">
    <button id="slide-nav-btn" onclick="toggleSlideMenu()"><i class="fas fa-bars"></i></button>
    <div id="top-head">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantum Simulator
    </div>
  </div>
  <div style="display: inline-flex;">
    <div id="side-sh-nav-bar">
      <div class="side-sh-nav-item tooltip"><i class="fas fa-atom" style="padding-top: 2vh;"></i><span class="tooltiptext">Simulator</span></div>
      <!-- <div class="side-sh-nav-item tooltip"><i class="fas fa-cloud" style="padding-top: 2vh;" onclick="window.location.href = '/cloud'"></i><span class="tooltiptext">Cloud IBM Simulator</span></div>
      <div class="side-sh-nav-item tooltip"><i class="fas fa-subscript" style="padding-top: 2vh;" onclick="window.location.href = '/function'"></i><span class="tooltiptext">Functions</span></div> -->
      <div class="side-sh-nav-item tooltip"><i class="fab fa-etsy" style="padding-top: 2vh;" onclick="window.location.href = '/example'"></i><span class="tooltiptext">Examples</span></div>
      <!-- <div class="side-sh-nav-item" style="background-color: black;"></div>
      <div class="side-sh-nav-item tooltip"><i class="fas fa-book" style="padding-top: 2vh;" onclick="window.location.href = 'docs'"></i><span class="tooltiptext">Documentation</span></div>
      <div class="side-sh-nav-item tooltip"><i class="fas fa-question" style="padding-top: 2vh;" onclick="window.location.href ='hiw'"></i><span class="tooltiptext">How It Works</span></div>
      <div class="side-sh-nav-item tooltip"><i class="fas fa-info" style="padding-top: 2vh;" onclick="window.location.href = 'info'"></i><span class="tooltiptext">Info</span></div> -->
    </div>
    <div id="side-nav-bar">
      <div class="side-nav-item">Quantum Circuit Simulator</div>
      <!-- <div class="side-nav-item" onclick="window.location.href = '/cloud'">IBM Quantum Simulator</div>
      <div class="side-nav-item" onclick="window.location.href = '/function'">Function Simulator</div> -->
      <div class="side-nav-item" onclick="window.location.href = '/example'">Examples</div>
      <!-- <div class="side-nav-item"></div>
      <div class="side-nav-item" onclick="window.location.href = '/docs'">Documentation</div>
      <div class="side-nav-item" onclick="window.location.href = '/hiw'">How It Works</div>
      <div class="side-nav-item" onclick="window.location.href = '/info'">About Us</div> -->
    </div>
    <div id="crt">
      <div style="width: 70.5vw; height: 93vh;">
        <div id="crt-crt">
          <div style="display: inline-flex;">
            <div id="crt-crt-gate">
              <div class="crt-crt-item" style="background-color: white; color: black; margin-left: 0px; cursor: default;">Gates</div>
              <div class="crt-crt-item" style="background-color: rgb(218, 218, 218);" draggable="true" ondragstart="drag(event)">--</div>
              <div class="crt-crt-item" style="background-color: rgb(165, 165, 165); padding-top: 1vh;" draggable="true" ondragstart="drag(event)">*</div>
              <div class="crt-crt-item" style="background-color: black" draggable="true" ondragstart="drag(event)">|0></div>
              <div class="crt-crt-item" style="background-color: rgb(255, 117, 37);" draggable="true" ondragstart="drag(event)">X</div>
              <div class="crt-crt-item" style="background-color: rgb(255, 94, 0);" draggable="true" ondragstart="drag(event)">CX</div>
              <div class="crt-crt-item" style="background-color: rgb(255, 204, 64);" draggable="true" ondragstart="drag(event)">H</div>
              <div class="crt-crt-item" style="background-color: rgb(195, 209, 255);" draggable="true" ondragstart="drag(event)">I</div>
              <div class="crt-crt-item" style="background-color: rgb(158, 255, 78);" draggable="true" ondragstart="drag(event)">R1</div>
              <div class="crt-crt-item" style="background-color: rgb(108, 255, 78);" draggable="true" ondragstart="drag(event)">R2</div>
              <div class="crt-crt-item" style="background-color: rgb(69, 255, 52);" draggable="true" ondragstart="drag(event)">R3</div>
              <div class="crt-crt-item" style="background-color: rgb(0, 255, 13);" draggable="true" ondragstart="drag(event)">R4</div>
            </div>
          </div>
          <div id="crt-crt-crt">
            <div id="crt-crt-crt-qubit">
              <% for(var i=0;i<5;i++){ %>
                <div class="qubit">
                  <div class="qubit-label">q<%=i%></div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                  <div class="qubit-gate" ondrop="drop(event)" ondragover="allowDrop(event)">--</div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div id="crt-code">
          <div id="code-heading">
            <div class="code-head-item" onclick="showQiskit()">Qiskit</div>
            <div class="code-head-item" onclick="showQASM()">OpenQASM 2.0</div>
            <div class="code-head-item" style="margin-left: 47vw;" onclick="copyCode()"><i class="fas fa-clipboard"></i> &nbsp;&nbsp;Copy</div>
          </div>
          <div id="code-body">
            <div id="crt-code-qiskit" contenteditable="true" style="border: none;" spellcheck="false" onkeyup="compileQiskit(this.innerHTML)">
            </div>
            <div id="crt-code-QASM" contenteditable="true" style="border: none;" spellcheck="false" onkeyup="compileQASM(this.innerHTML)">
            </div>
          </div>
        </div>
      </div>
      <div id="res">
        <div style="width: 23.5vw; border-bottom: 1px solid black; padding: 1vh;">Measurement Probabilities</div>
        <div id="result-container1" style="width: 23vw;"></div>
        <div style="width: 23.5vw; border-bottom: 1px solid black; padding: 1vh; margin-top: 0vh;">Statevector</div>
        <div style="display: inline-flex;">
          <div id="statevector1">
            <ol id="stv1" start="0"></ol>
          </div>
          <div id="statevector2">
            <ol id="stv2" start="16"></ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sk-bar" class="snackbar"></div>

  <script>
    document.querySelectorAll('.side-sh-nav-item')[slt_item].style.color = "white";
    document.querySelectorAll('.side-sh-nav-item')[slt_item].style.borderLeft = "3px solid red";
    document.querySelectorAll('.side-nav-item')[slt_item].style.color = "white";
    document.querySelectorAll('.code-head-item')[slt_code].style.color = "white";
    document.querySelectorAll('.code-head-item')[slt_code].style.borderBottom = "1.5px solid white";
    document.getElementById(tab+'-code-qiskit').style.display = "block";
    document.getElementById(tab+'-code-QASM').style.display = "none";
    var qiskit = document.getElementById(tab+'-code-qiskit');
    var qasm = document.getElementById(tab+'-code-QASM');

    var qiskit_code ,qasm_code ;

    generateQiskitCode();
    generateQASMCode();

    displayCode('qiskit');
    displayCode('qasm');

    runCircuit();
  </script>
</body>
</html>